.issuance-history {
  margin: 0;
  font-size: 1.7rem;
  color: #003060;
}

.user-history-inner-container {
  display: grid;
  /* grid-template-columns: 10% 20%; */
  text-align: left;
  align-items: center;
}

.user-history-table {
  overflow: hidden;
  margin-top: 1%;
}

.giphy-embed {
  background: none;
  border: none;
}
