.toast {
  visibility: hidden;
  min-width: 250px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  top: 30px;
  font-size: 17px;
  transform: translateX(-50%);
}

.toast.show {
  visibility: visible;
  animation: fadeInOut 3s;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  90% {
    opacity: 1;
  }
}

.success {
  background: #28a745;
}

.error {
  background: #dc3545;
}
