.navigation-container {
  display: grid;
  grid-template-columns: 20% 20% 60%;
  padding: 0.35% 3% 0.35% 0;
  align-items: center;
  text-align: left;
  background-color: #faf5ec;
  border-bottom: 0.5px solid #a475513f;
}

.navigation-heading-container {
  display: flex;
  text-align: center;
  justify-content: left;
  padding-left: 8%;
  align-items: center;
}

.navigation-heading-container h2 {
  color: #e55b13;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.6rem;
  margin: 0;
}

.nav-name {
  color: #a47551;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: 1.2rem;
  font-style: normal;
}
