.pages-outer-container {
  padding: 2% 5%;
}

.pages-inner-container {
  display: grid;
  grid-template-columns: 30% 11%;
  text-align: left;
  justify-content: space-between;
}

.pages-table {
  margin-top: 2%;
  overflow: scroll;
  height: 74vh;
}
