.dashboard-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding: 3% 2%;
}

.dashboard-card {
  background-color: #f6eee0;
  width: 250px;
  height: 120px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 5% 2%;
  display: grid;
  align-items: center;
  justify-content: center;
}

.dashboard-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.dashboard-card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}

.dashboard-card h4 {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #a47551;
  margin: 0;
}
