.pagination-container {
  margin: 2% auto;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 9%;
  background: none;
  border: none;
  color: #e55b13;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  cursor: pointer;
}

.icon:hover {
  color: #003060;
}

.pagination span {
  font-size: 1rem;
  font-weight: bold;
  color: #a47551;
}
