.confirmation-modal-content {
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #a47551;
  padding: 20px;
}

.confirmation-modal-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
}
