.navigation-container {
  display: grid;
  grid-template-columns: 20% 20% 60%;
  padding: 0% 3% 0% 0;
  align-items: center;
  text-align: center;
  /* background-color: #f6eee0; */
  background-color: #faf5ec;
  border-bottom: 0.5px solid #a475513f;
}

.login-heading-container h2 {
  color: #e55b13;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.7rem;
}

.nav-name {
  color: #a47551;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-style: normal;
}
